body {
    font-family: 'PT Sans', sans-serif;
    color: black;
}
#aboutMeHeader {
    color: blue;
    font-family: 'Source Code Pro', monospace;

}
#aboutMeText{
    text-align: justify;
    font-size: medium;
}
#headshot_Img {
    text-align: center;
}
#footerIcons a {
    margin-left: 10px;
    font-size: 30px;
}
