/* Navbar styles HERE*/

.navbar-brand {
	padding: 20px;
	background-color: hotpink;
	font-family: 'Roboto Mono', monospace;
}


/*the whole page background*/

body {
	background-color: blanchedalmond;
	font-family: 'Roboto Mono', monospace;
}


/* About me here*/

.col-sm-10,
.col-md-12,
.col-lg-12 {
	border: 1px solid gray;
	background-color: white;
}

#aboutmecolor {
	color: rgb(21, 21, 248);
	padding-top: 5px;
}

p {
	color: lightseagreen;
}


/*try to make the picture and the text be together through "word wrap" of some sort*/

.img-thumbnail {
	float: left;
	margin: 10px;
}


/*copyright HERE*/

.col-sm-12,
.col-md-12,
.col-lg-12 {
	padding: 30px;
	text-align: center;
	background-color: ivory;
}


/*text in with the picture*/

.image {
	position: relative;
	width: 100%;
	/* for IE 6 */
}

h2 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
}
